.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -71px;
  background-color: #282c34;
  color: white;
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
}

.title {
  font-size: 2.5rem;
  color: #61dafb;
}

.content {
  font-size: 1.2rem;
  margin: 20px;
  max-width: 600px;
  line-height: 1.6;
}

.moreInfoButton {
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "Lucida Console", Courier, monospace;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 10px;
}